In [1]:
import pandas as pd
df = pd.read_excel(r"C:\Users\DELL\OneDrive\Documents\AI_MARKS.xlsx")
df

,NAME,CLASS,SECTION,ROLL_NO,PHNO,MARKS,EMAIL_ID
0,K.SIRI SRI,AIR,A,57,7680862063,91,sirisrikaranam@gmail.com
1,U.DEEPIKA,AIR,A,38,6302117978,93,deepikalakshmiuppu@gmail.com
2,V.SUSHMITA,AIR,A,46,8074196648,89,sushmitapenaganti@gmail.com
3,K.KUJITHA,AIR,A,20,7780512016,90,kujithakarri@gmail.com
4,T.JYOSHNA,AIR,A,22,9059684333,93,jyoshnasravaniraj@gmail.com
5,V.PADMINI,AIR,A,40,8688463848,89,velpulapadmini@gmail.com
6,S.DIVYA PAVANI,AIR,A,53,9177129486,88,divyapavanisaladi@gmail.com

In [3]:
df.max()

NAME                      V.SUSHMITA
CLASS                            AIR
SECTION                            A
ROLL_NO                           57
PHNO                      9177129486
MARKS                             93
EMAIL_ID    velpulapadmini@gmail.com
dtype: object

In [5]:
df.min()

NAME                           K.KUJITHA
CLASS                                AIR
SECTION                                A
ROLL_NO                               20
PHNO                          6302117978
MARKS                                 88
EMAIL_ID    deepikalakshmiuppu@gmail.com
dtype: object

In [9]:
df["MARKS"].mean()

90.42857142857143

In [11]:
df["MARKS"].mode()

0    89
1    93
Name: MARKS, dtype: int64

In [13]:
df["MARKS"].median()

90.0

In [15]:
df["MARKS"].var()

3.952380952380952

In [17]:
df["MARKS"].std()

1.9880595947760098

In [27]:
df["MARKS"].cov(df["ROLL_NO"])

-12.214285714285715